*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  font-family: Helvetica;
  font-size: 16px;
  line-height: 24px;
  color: rgb(96, 99, 101);
  text-transform: none;
}
:root {
  --azulito: #77B3D9;
  --amarillo: #fdb603;
  --azul: #0a1e3d;
  --grey: #efeded;

}
.ancho{
  max-width: 1200px;
  margin: auto;
}
/* MENU*/
header {
  padding: 10px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(201, 201, 201, 0.5);
  position: sticky;
  top: 0;
  z-index: 90;
}
#iconomenu{
  display: none;
}
.contenedorarriba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.btn_menu {
  font-size: 25px;
  display: none !important;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  color: #333;
  transition: all 0.5s;
  font-weight: bold;
  font-size: 14px;
}
nav ul li a:hover {
  color: var(--azulito);
}

/*SLIDER*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height: 700px;
}
.rslides li {
  backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  top: 0;
  left: 0;
}
.contenedor_slide {
  position: relative;
}
.filtroazul {
  position: absolute;
  z-index: 10;
  text-align: center;
  color: white;
  background-color: rgba(11,38, 191, 0.4);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  padding-top: 220px;
  text-align: left;
}
.filtroazul h2 {
  font-size: 50x;
}
.parrafos{
  font-size: 20px;
}
.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}
.rslides img {
  display: block;
  float: left;
  width: 100%;
  height: 700px;
  object-fit: cover;
}

.btn_morado {
  padding: 10px 30px;
  display: inline-block;
  background-color: var(--azulito);
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
margin-right: 10px;
  transition: all 0.5s;
}
.btn_morado:hover {
  background-color: #333;
}
.btn_morado2 {
  padding: 10px 30px;
  margin-right: 20px;
  display: inline-block;
  border: 1px var(--azulito) solid;
  background-color: var(--azulito);
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.btn_morado2:hover {
  border: 1px white solid;
  background-color: transparent;
}
.btn_transparente {
  padding: 10px 30px;
  display: inline-block;
  border: 1px white solid;
  background-color: transparent;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  transition: all 0.5s;
}
.btn_transparente:hover {
  border: 1px var(--azulito) solid;
  background-color: var(--azulito);
}
.azul{
  color: var(--azulito);
}
.objeto1 {
  font-size: 40px;
  margin-top: 0px;
  line-height: 40px;
}
.centrado{
  text-align: left;
}
/* ABOUT US ARTICLE */
.about_us{
  display: flex;
  margin-top: 50px;
}
.what_is{
  max-width: 700px;
}
.what_is h2{
color: var(--azulito);
}
.what_is h3{
  color: var(--azul);
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
}
.what_is h4{
  font-size: 20px;
  color: var(--azul);
}
.img_costumer{
  display: flex;
}
.happy_client{
  display: flex;
  flex-direction: column;
  margin: auto;
}
.caja{
  margin-left: 50px;
  margin-top: 40px;
  text-align: center;
  width: 200px;
  height: 100px;
  background-color: var(--azulito);
  padding: 30px 10px 10px 10px;
}

.caja h2{
  margin: auto;
  color: white;
  font-size: 50px;
}
.caja p{
  font-size: 20px;
  margin-top: 20px;
  color: white;
}
#separacion{
  display: none;
}

.hand{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 400px;
  margin-right: 20px;
}
.hand i{
  color: var(--azulito);
  font-size: 70px;
  margin-right: 10px;
}
.idea{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100px;
  width: 400px;
}
.idea i{
  color: var(--azulito);
  font-size: 70px;
  margin-right: 20px;
}
.img_us{
  max-width: 600px;
  height: auto;
  display: flex;
}
.img_us figure img{
  height: 200px;
  width: 200px;
  margin-left: 50px;
}
.happy_client{
  margin-top: 0px;
}
.happy_client figure img{
  height: 300px;
  width: 200px;
  object-fit: cover;
  margin-top: 0px;
}

#produccion_2{
  width: 200px;
}
#produccion_2 img{
  height: 510px;
  width: 200px;
  object-fit: cover;
  margin-top: 0px;
}
.btn_more{
 text-align: center;
  width: 300px;
  height: 70px;
  background-color: var(--azul);
  margin-top: 25px;
 color: white;
  font-size: 20px;
  padding: 20px;
  margin: auto;
  text-decoration: none;
}
.btn_more:hover{
  background-color: var(--azulito);
  transition: all 0.5s;
}
/*EFECTO PARALAX*/
.our_service{
text-align: center;
color: var(--azul);
font-size: 30px;
height: 40px;
justify-content: center;
padding-top: 10px;

}
.btn_more_paralax{
  margin-right: 200px;
  padding: 10px;
  justify-content: center;
  align-items: center;
 text-align:left;
  width: 200px;
  height: 50px;
  background-color: var(--azul);
 color: white;
  font-size: 20px;
  margin: auto;
  text-decoration: none;
}
.btn_more_paralax:hover{
background-color: var(--azulito);
transition: all 0.5s;
}
.contenedor_parallaxs {
  position: relative;
  min-height: 600px;
  background-image: url(Imagenes/paralax_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.contenedor_caracteristicas {
  background-color: rgba(10, 30, 61, 0.6);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 30px;
  position: absolute;
  text-align: center;
  border: 1px red solid;
  top: 0;
  left: 0;
  padding: 20px;
  z-index: 2;
  width: 100%;
  height: 100%;
}
.contenedor_caracteristicas article {
  padding-top: 50px;
  padding-left: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: left;
  background-color: #ffffff;
}
.contenedor_caracteristicas article i{
  margin-bottom: 20px;
  color: var(--azulito);
  font-size: 50px;
}

.contenedor_caracteristicas h2 {
  margin-bottom: 20px;
  color: var(--azul);
  font-size: 30px;
  text-align: left;
}
.contenedor_caracteristicas h3 {
  color: white;
  font-size: 16px;
  text-align: center;
}

/*footer*/

.container{
  max-width: 1200px;
  margin: 0 auto;
}
.footer{
  background-color: #24262b;
  padding: 80px 0;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footer-links{
  width: 25%;
  padding: 0 15px;
}
.footer-links h4{
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  border-bottom: 2px solid var(--azulito);
  padding-bottom: 10px;
  display: inline-block;
}
.footer-links ul li a{
  font-size: 18px;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
  transition:  all .3s ease;
  color: var(--azulito);
}
.footer-links ul li a:hover{
  color: #ffffff;
  padding-left: 6px;
}
.social-link a{
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;
}

.social-link a:hover {
 background-color: var(--azulito);
}



/* Estilos de noticias*/

.fondogris {
  background-color: var(--grey);
  height: auto;
  padding-top: 40px;
  padding-bottom: 40px;
}
.titulos{
 color: #0a1e3d;
 font-size: 30px;
 text-align: center;
}
.contenedor_noticias {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
}
.contenedor_noticias article {
  width: 350px;
  background-color: white;
  padding-bottom: 30px;
  transition: all 0.5s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
}
.contenedor_noticias figure {
  background-color: white;
  max-width: 100%;
  height: 200px;
  transition: all 0.5s;
  overflow: hidden;
}
.contenedor_noticias figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 200px;
  background-color: rgba(7, 1, 90, 0.6);
  max-width: 350px;
  transition: all 0.5s;
  opacity: 0;
}
.contenedor_noticias article:hover figure::before {
  opacity: 1;
}
.contenedor_noticias article:hover {
  transform: translateY(-10px);
}
.contenedor_noticias .fotoarriba {
  position: relative;
  max-width: 350px;
  height: 200px;
  margin-bottom: 30px;
}
.contenedor_noticias figure .fotogrande {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: all 0.5s;
}
.contenedor_noticias .fotochica {
  position: absolute;
  top: 170px;
  left: 30px;
  z-index: 5;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  transition: all 0.5s;
}
.contenedor_noticias .filtromorado2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 200px;
  background-color: rgba(7, 1, 90, 0.6);
  max-width: 350px;
  transition: all 0.5s;
  opacity: 0;
}
.info_noticia {
  padding: 15px;
  display: none;

}
.titulo_abrir {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.titulo_abrir h2{
  color: var(--azul);
}
.azul{
  color: var(--azulito);
}
.contenedor_noticias .fechas {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}
.pie_final{
  font-size: 20px;
  color: var(--azulito);
  text-align: center;
}
.contenedor_noticias a {
  text-decoration: none;
  color: var(--azul);
  padding-left: 10px;
  display: inline-block;
  font-weight: bold;
  transition: all 0.5s;
}
.contenedor_noticias a:hover {
  color: #333;
}
.contenedor_portafolio {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}
.contenedor_portafolio figure {
  position: relative;
  max-width: 33.33%;
  overflow: hidden;
}
.contenedor_portafolio figure:hover .filtroportafolio {
  opacity: 1;
}
.contenedor_portafolio figure:hover img {
  transform: scale(1.1);
}
.contenedor_portafolio figure img {
  width: 100%;
  transition: all 0.5s;
}
.contenedor_iconoportafolio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.filtroportafolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: rgba(7, 1, 23, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.circuloicono {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}